node_modules/
data/
.idea/
dist/
settings
.cache/*
!.cache/.gitkeep
/npm-debug.log
/coverage/
.gitattributes
flow/*
docker
docker
Dockerfile
jsconfig.json
package-lock.json
.DS_Store
.tsconfig.json
tsconfig.json
